.chat-box {
    border: 2px solid #AFD275;
    height: 70vh;
    width:80%;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    margin: 20px auto;
    position: relative;
    
   
}
