.footer {
    width:100%;
    height:25px;
    background-color: #46344E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    position: fixed;
    bottom:0;
    left:0;
}

.footer p {
    color: rgb(178, 170, 180);
    font-size: 12px;
}