.message-box {
  width: 700px;
  height: auto;
  margin: 15px;
  margin-bottom: 25px;

  position: relative;
}

.message-content {
  background-color: #eee2dc;
  display: flex;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.message-content img {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
}

.message-content p {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  margin-right: auto;
}

.message-content .icon {
  margin-right: 20px;
  color: rgb(214, 197, 197);
  cursor: pointer;
  font-size: 36px;
}

.message-content .message-heart:hover {
  color: rgb(170, 39, 39);
}

.message-details {
  display: flex;
  margin-bottom: 0;
  margin-left: 15px;
  padding-bottom: 0;
}

.message-details p {
  margin: 0;
  padding-right: 15px;
}

.message-details p:first-child {
  font-size: 16px;
}

.message-details p:nth-child(2),
.edited {
  font-size: 12px;
  position: relative;
  top: 5px;
}

.edited {
  margin-left: auto;
  margin-right: 15px;
}

.message-box.my-message {
  margin-left: auto;
}

.message-box.my-message .message-content {
  padding: 10px 30px;
  padding-right: 5px;
}

.my-icons {
  opacity:0;
}
 
.message-content:hover > .my-icons {
  color:black;
  opacity:1;
}

.icon.message-trash{
  margin-right: 5px;
}

.icon.my-like{
  color: rgb(170, 39, 39);
}