.admin-edit-container {
    display: flex;
    justify-content: space-around;
    padding:70px;
    margin-top: 100px;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:40px 50px;
    font-size: 54px;
    font-weight: 700;
}

 h2.heading {
    color: rgb(54, 53, 53);
    font-size: 54px;
    font-weight: 700;
    margin:0;
   
}

.chat-link {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin:0;
    background-color: rgb(101, 80, 117);
    padding:20px 25px;
    padding-bottom: 25px;
    border-radius: 3px;
    color:rgb(243, 241, 245);
    transition: all .2s;
}

.chat-link:hover {
    color:rgb(243, 241, 245);
    background-color: rgb(66, 52, 77);
}

.users-container {
    margin-bottom:20px;
    width:30%;
}

.users-edit-container {
    width:45%;
}

