.chat-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    background-color: #AFD275;
    padding: 10px;
    font-size: 18px;
    position: sticky;
    top:0;
    left:0;
    right:0;
    z-index: 10;

}

.chat-header p {
    margin:0;
    margin-right: 30px;
    padding:5px;
}

.chat-header p:first-child {
   text-transform: uppercase;
   font-weight: bold;
}

.chat-header p:last-child {
    margin-left: auto;
    margin-right: 5px;
}