.modal-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 222, 222);
  border-radius: 5px;
}

.modal-header {
  font-size: 24px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  background-color: rgb(148, 97, 97);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-message {
width:80%;
height:80%;
}
.modal-message textarea {
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 22px;
}
.modal-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.modal-buttons button {
  padding: 12px;
  width: 100px;
  color: white;
  font-size: 18px;
  outline: none;
  border: none;
  margin: 20px 30px;
  border-radius: 3px;
}

.modal-buttons button:hover {
  cursor: pointer;
}

.modal-ok-button {
  background-color: #83ac41;
}

.modal-cancel-button {
  background-color: rgb(3, 19, 34);
  color: rgb(227, 229, 230);
}
