.user-edit-form{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10px;
}

.user-edit-form > input,
.user-edit-form > select {
    height: 70px;
    margin-bottom: 20px;
    background-color: rgb(238, 241, 233);
    padding-left: 30px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(1, 14, 6);
    outline:none;
    border:none;
    border-bottom: 1px rgb(35, 7, 48) solid;
    border-radius: 2px;
}

.user-edit-form > span {
    margin-bottom: 5px;
    font-size: 18px;
    color: rgb(90, 87, 87);
}

.user-edit-form > input:hover,
.user-edit-form > select:hover {
    cursor: pointer;
    background-color: rgb(242, 247, 220);
}

.user-edit-form > input:focus,
.user-edit-form > select:focus {
    cursor: auto;
    background-color: rgb(242, 247, 220);
}



.save-btn {
    width:70%;
    margin: 30px auto;
    padding: 15px;
    font-size: 24px;
    background-color: rgb(141, 165, 86);
    outline:none;
    border:none;
    border-radius: 5px;
    color: rgb(248, 250, 248);
    font-weight: bold;
}

.save-btn:hover {
    cursor: pointer;
    background-color: rgb(20, 139, 36);
}