
.user-container {
    display: flex;
    margin-bottom: 20px;
    border-radius: 3px;
  
}

.user-item {
    background-color: rgb(68, 220, 240);
    height: 60px;
    width:100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 20px;
}

.edit-btn {
    padding:0 40px;
    font-size: 20px;
    background-color: rgb(187, 240, 247);
    outline: none;
    border:none;
}

.edit-btn:hover {
    cursor: pointer;
    background-color: rgb(7, 23, 66);
    color: rgb(235, 244, 250);
}
